# Core functionality - changes here should be rare!
/src/app.py                   @ryanpcleary
/src/backend/database.py      @ryanpcleary
/src/backend/routers/auth.py  @ryanpcleary

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ryanpcleary
